
.overdue {
    background-color: indianred;
}

.done {
    background-color: lightgreen;
}

.task {
    background-color: lightcyan;
}

.inputs {
  border: red 3px solid;
}

.emptyInput {
  border: red 3px solid;
}

body {
    background-color: #ffffff;
}

.titles {
    background-color: black;
    color: white;
}
